h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

.logo a {
  font-size: 30px;
}

p {
  font-size: 14px;
}

.header_ul li a {
  font-size: 16px;
}

.header_button {
  font-size: 18px;
  width: 160px;
  height: 50px;
}

.get_started .right .img {
  background-image: url(../img/992/1.svg);
  margin-top: 1rem;
}

.get_started .left {
  padding-top: 2.2rem;
  gap: 1.5rem;
}

.get_started .left p {
  font-size: 20px;
  width: 96%;
}

.get_started h1 span::after {
  right: 0;
}

.get_started .left button {
  width: 292px;
  height: 80px;
  border-radius: 5px;
  font-size: 24px;
  padding: 0;
  margin-top: 0.5rem;
}

.skills {
  margin-top: 5.2rem;
  gap: 4.2rem;
}

.skills .cards {
  gap: 13px;
}

.skills .cards .card {
  padding: 0;

}

.skills .cards .card:nth-child(2) {
  padding-bottom: 2rem;
}

.skills .cards .card:nth-child(4) {
  height: 14.7rem;
}

.skills .cards .card:nth-child(1) .img {
  background-image: url(../img/992/speaking.svg);
  background-position-x: center;
  height: 16.5rem;
  margin-top: 0;
}

.skills .cards .card:nth-child(2) .img {
  background-image: url(../img/992/writing.svg);
  width: 71%;
  margin-top: 0.5rem;
}

.skills .cards .card:nth-child(3) .img {
  background-image: url(../img/992/reading.svg);
  width: 83%;
  height: 12rem;
  margin-bottom: 1.5rem;
}

.skills .cards .card:nth-child(4) .img {
  background-image: url(../img/992/listening.svg);
  width: 42%;
}

.aboutUs .right .img {
  background-image: url(../img/992/aboutUs.svg);
  width: auto;
}

.skills .cards .card .text {
  padding-left: 10.5%;
}

.skills .cards .card:nth-child(4) .text {
  padding-left: 5%;
  height: 77%;
  width: 54%;
}

.skills .cards .card:nth-child(2) h3,
.skills .cards .card:nth-child(3) h3 {
  line-height: 0.5;
}

.skills .cards .card:nth-child(1) p {
  margin-top: 1rem;
}

.skills .cards .card:nth-child(2) p {
  margin-top: 1.5rem;
}

.skills .cards .card:nth-child(3) p {
  margin-top: 1.3rem;
}

.skills .cards .card:nth-child(2) p,
.skills .cards .card:nth-child(3) p {
  width: 93%;
}

.skills .cards .card button {
  padding: 0;
  width: 196px;
  height: 57px;
}

.skills .cards .card:nth-child(1) button {
  margin-top: 2.8rem;
}

.skills .cards .card:nth-child(2) button,
.skills .cards .card:nth-child(3) button {
  margin-top: 1.2rem;
}

.aboutUs {
  margin-top: 0;
}

.aboutUs .left {
  width: 57%;
  padding-bottom: 4rem;
  gap: 1.7rem;
}

.aboutUs .left p {
  font-size: 16px;
}

.number {
  font-size: 30px;
}

.number:nth-child(2) {
  margin-left: 13%;
}

.number:nth-child(3) {
  margin-left: 10%;
}

.number span {
  font-size: 16px;
}

.aboutUs .right {
  height: 32rem;
}

.aboutUs .right .img {
  margin-top: 0;
  background-position-y: center;
}

.pricing {
  margin-top: 5rem;
  gap: 1.8rem;
}

.price_card .img {
  height: 14rem;
}

.price_card:nth-child(1) .img {
  background-image: url(../img/992/pricing1.svg);
  margin-left: 5%;
}

.price_card:nth-child(2) .img {
  background-image: url(../img/992/pricing2.svg);
  margin-top: 2rem;
  height: 12rem;
  margin-left: 3%;
}

.price_card:nth-child(3) .img {
  background-image: url(../img/992/pricing3.svg);
  height: 15rem;
}

.price_card .text {
  padding-top: 0.5rem;
  height: auto;
  gap: 0.6rem;
}

.price_card:nth-child(2) .text {
  padding-left: 9%;
}

.price_card:nth-child(3) .text {
  padding-left: 15%;
}

.price_card p {
  font-size: 16px;
}

.price_card:nth-child(1) p {
  width: 95%;
}

.price {
  width: 205px;
  font-size: 24px;
  height: 45px;
}

.price span {
  font-size: 16px;
}

.contactUs {
  margin-top: 6.5rem;
  padding-bottom: 9.6rem;
}

.contactUs h2 {
  padding-left: 3%;
}

.contactUs .left .img {
  background-image: url(../img/992/contactUs.svg);
  background-position-y: bottom;
  height: 20rem;
  width: auto;
}

.contactUs .right {
  width: 93%;
  gap: 1rem;
}

.contactUs .right p {
  font-size: 16px;
  width: 87%;
}

.contactUs .right form {
  margin-top: 1rem;
  gap: 0;
  justify-content: space-between;
}

.contactUs .right form input {
  width: 61.4%;
  height: 3.8rem;
  font-size: 14px;
  padding-left: 7%;
  padding-right: 7%;
}

.contactUs .right form button {
  width: 36%;
  height: 3.8rem;
  font-size: 16px;
}

.footer {
  padding-bottom: 1.45rem;
  padding-top: 1.4rem;
}

.footer ul li a {
  font-size: 16px;
}