.container {
  /* max-width: 992px; */
  padding: 0 2.5%;
}

.sidebar,
.menu_button {
  display: none;
}

.header {
  padding: 2.5% 0;
}

.header_block {
  padding-bottom: .7rem;
  align-items: center;
  display: flex;
}

.header_logo {
  margin-right: 17.5%;
}

.header_logo a {
  font-size: 2rem;
}

.header_ul {
  display: flex;
  flex-direction: row;
  width: 43%;
  justify-content: space-between;
  margin-right: 12%;
}

.header_button {
  font-family: var(--font-family);
  font-size: 18px;
  color: #000;
  border: 2px solid var(--primary);
  border-radius: 5px;
  width: 17%;
  padding: 0.6rem 0;
}

.get_started {
  display: flex;
  justify-content: space-between;
}

.get_started_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.get_started .text {
  display: flex;
  flex-direction: column;
  width: 89%;
  gap: 1.5rem;
  align-items: flex-start;
}

.get_started h1.variant1 {
  padding-top: 3rem;
  display: block;
  text-align: left;
  line-height: 1.33;
  font-size: 48px;
}

.get_started h1.variant1::after {
  height: 18.5%;
  content: '';
  background-image: url(../img/1.svg);
  background-size: contain;
  display: block;
  position: absolute;
  top: 8.3rem;
  left: 33%;
  aspect-ratio: 1 / 1;
}

.get_started p {
  font-size: 20px;
  line-height: 1.5;
}

.get_started button {
  margin-top: 0.65rem;
  border-radius: 5px;
  width: 292px;
  height: 80px;
  font-size: 24px;
}

.get_started img.get_started {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-top: 2.2rem;
  padding-left: 6%;
}